= form_for(@message, url: { action: :confirm }) do |f|
  %div
    %h2 メッセージフォーム
    - if @message.errors.present?
      %div
        %strong 入力内容にエラーがあります
        %ul
          - @message.errors.each do |attr, error|
            %li= error
    %div
      %strong 名前
      %p= f.text_field :name, placeholder: '20文字以内'
    %div
      %strong メールアドレス
      %p= f.text_field :email, placeholder: '30文字以内'
    %div
      %strong 内容
      %p= f.text_area :content, placeholder: '200文字以内'
    = f.submit '確認画面へ'
