.row.m-0 
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 1
      .col-6
        %strong.font-09 投手 / 右右  / 19歳
        %strong.h4.mt-2.name.d-block RAIKI
        %span.font-07.text-muted.d-block 切込隊長 /  ムードメーカー
        %span.font-07.text-muted.d-block 安南中(安城シニア)→誉高校
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 2
      .col-6
        %strong.font-09 捕手 / 右右  / 19歳
        %strong.h4.mt-2.name.d-block 西尾柊二
        %span.font-07.text-muted.d-block  強肩イップス
        %span.font-07.text-muted.d-block 安南中→安城学園
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 3
      .col-6
        %strong.font-09 内野手 / 右右  / 45歳
        %strong.h4.mt-2.name.d-block 竹中大輔
        %span.font-07.text-muted.d-block 
        %span.font-07.text-muted.d-block 
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 4
      .col-6
        %strong.font-09 内野手 / 右右  / 32歳
        %strong.h4.mt-2.name.d-block ともぴ
        %span.font-07.text-muted.d-block  長距離砲 / 顔面凶器 / 愛妻家
        %span.font-07.text-muted.d-block 安南中(衣浦シニア) →岐阜中京
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 5
      .col-6
        %strong.font-09 内野手 / 右右  / 20歳
        %strong.h4.mt-2.name.d-block なおき
        %span.font-07.text-muted.d-block フルスイング / トンネル王子
        %span.font-07.text-muted.d-block 安南中(テニス部)→安城南(テニス部)→大同大
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 7
      .col-6
        %strong.font-09 内野手 / 右右  / 33歳
        %strong.h4.mt-2.name.d-block 板倉良介
        %span.font-07.text-muted.d-block 介護士 
        %span.font-07.text-muted.d-block 
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 10
      .col-6
        %strong.font-09 投手 / 右右  / 25歳
        %strong.h4.mt-2.name.d-block キャプテン
        %span.font-07.text-muted.d-block ニヤニヤ王子 / 釣り / エンジニア
        %span.font-07.text-muted.d-block 安南中→安城東→南山大(ソフトボール部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 15
      .col-6
        %strong.font-09 内野手 / 右右  / 29歳
        %strong.h4.mt-2.name.d-block 渡辺良弥
        %span.font-07.text-muted.d-block 
        %span.font-07.text-muted.d-block 
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 21
      .col-6
        %strong.font-09 内野手 / 右右  / 30歳
        %strong.h4.mt-2.name.d-block いっちー
        %span.font-07.text-muted.d-block 庶務 /  経理 / 記録係
        %span.font-07.text-muted.d-block 
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 25
      .col-6
        %strong.font-09 外野手 / 右右  / 26歳
        %strong.h4.mt-2.name.d-block 山口晋太郎
        %span.font-07.text-muted.d-block 柔道整復師
        %span.font-07.text-muted.d-block 
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 27
      .col-6
        %strong.font-09 外野手 / 右右  / 20歳
        %strong.h4.mt-2.name.d-block 青木達也
        %span.font-07.text-muted.d-block 
        %span.font-07.text-muted.d-block 安南中→安城高校→愛知淑徳大
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 29
      .col-6
        %strong.font-09 捕手 / 右左  / 33歳
        %strong.h4.mt-2.name.d-block D
        %span.font-07.text-muted.d-block コーチ / お米屋さん
        %span.font-07.text-muted.d-block 田舎中→変態高→基地外大
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト / 氣愛守備 /  愛煙家 / 恐妻家
        %span.font-07.text-muted.d-block 安北中(サッカー部)→3日で高校中退
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 66
      .col-6
        %strong.font-09 外野手 / 左左  / 29歳
        %strong.h4.mt-2.name.d-block 板倉尉之
        %span.font-07.text-muted.d-block  料理長
        %span.font-07.text-muted.d-block
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 77
      .col-6
        %strong.font-09 内野手 / 右左  / 19歳
        %strong.h4.mt-2.name.d-block 兵藤亮太
        %span.font-07.text-muted.d-block 
        %span.font-07.text-muted.d-block 安南中→安城学園
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 88
      .col-6
        %strong.font-09 外野手 / 右右  / 33歳
        %strong.h4.mt-2.name.d-block 下地慶昇
        %span.font-07.text-muted.d-block  にんじんしりしり 
        %span.font-07.text-muted.d-block 
  
 
 
