.row.m-0
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 1
      .col-6
        %strong.font-09 投手 / 右右  / 19歳
        %strong.h4.mt-2.name.d-block 
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安南中(安城シニア)→誉高校
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 30
      .col-6
        %strong.font-09 内野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block ツネさん
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)