.container.p-0
  .row-12
    .bd-example
      #carouselExampleCaptions.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleCaptions"}
          %li{"data-slide-to" => "1", "data-target" => "#carouselExampleCaptions"}
          %li{"data-slide-to" => "2", "data-target" => "#carouselExampleCaptions"}
          %li{"data-slide-to" => "3", "data-target" => "#carouselExampleCaptions"}
          %li{"data-slide-to" => "4", "data-target" => "#carouselExampleCaptions"}
        .carousel-inner
          .carousel-item.active
            = image_tag 'all.JPG', class: "img-responsived-block"
            .carousel-caption.d-none.d-md-block
              %h1 龍風
              %p 
          .carousel-item
            = image_tag 'shimosan.jpg', class: "img-responsived-block"
            .carousel-caption.d-none.d-md-block
              %h5 
              %p 
          .carousel-item
            = image_tag 'tomokei.jpg', class: "img-responsived-block"
            .carousel-caption.d-none.d-md-block
              %h5 
              %p 
          .carousel-item
            = image_tag 'tomokei.jpg', class: "img-responsived-block"
            .carousel-caption.d-none.d-md-block
              %h5 
              %p 
          .carousel-item
            = image_tag 'tomokei.jpg', class: "img-responsived-block"
            .carousel-caption.d-none.d-md-block
              %h5 
              %p 
        %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleCaptions", :role => "button"}
          %span.carousel-control-prev-icon{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleCaptions", :role => "button"}
          %span.carousel-control-next-icon{"aria-hidden" => "true"}
          %span.sr-only Next
.container
  .row-12.mt-4.mb-2.bg-white.shadow.h-auto
    .heading.text-center.ml-1.p-1 龍風選手一覧
    #example
      %my-component
    = javascript_include_tag 'hello_vue', 'data-turbolinks-track': 'reload'

    -# %script{:src => "application.js", :type => "text/javascript"}
  .row-12.bg-white
    %nav 
      #nav-tab.nav.nav-tabs.nave-tabs-xs.d-flex.justify-content-around.flex-nowrap{:role => "tablist"}
        %a#nav-home-tab.nav-item.nav-link.nav-link-xs.active{"aria-controls" => "nav-contact", "aria-selected" => "true", "data-toggle" => "tab", :href => "#nav1", :role => "tab"} 全て
        %a#nav-profile-tab.nav-item.nav-link.nav-link-xs{"aria-controls" => "nav-contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav2", :role => "tab"} 投手
        %a#nav-contact-tab.nav-item.nav-link.nav-link-xs{"aria-controls" => "nav-contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav3", :role => "tab"} 内野手
        %a#nav-contact-tab.nav-item.nav-link.nav-link-xs{"aria-controls" => "nav-contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav4", :role => "tab"} 外野手
        %a#nav-contact-tabs.nav-item.nav-link.nav-link-xs{"aria-controls" => "nav-contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav5", :role => "tab"} 応援団
    #nav-tabContent.tab-content
      #nav1.tab-pane.fade.show.active{"aria-labelledby" => "nav-home-tab", :role => "tabpanel"} 
        = render 'all-member'
      #nav2.tab-pane.fade{"aria-labelledby" => "nav-profile-tab", :role => "tabpanel"} 
        = render 'pitcher'
      #nav3.tab-pane.fade{"aria-labelledby" => "nav-contact-tab", :role => "tabpanel"} 
        = render 'infielder'
      #nav4.tab-pane.fade{"aria-labelledby" => "nav-contact-tab", :role => "tabpanel"} 
        = render 'outfielder'
      #nav5.tab-pane.fade{"aria-labelledby" => "nav-contact-tab", :role => "tabpanel"} 
        = render 'supporters'
  .row-12.mt-4.mb-2.bg-white.shadow
    .heading.text-center.ml-1.p-2 スケジュール
  .row-12.bg-white
    -# #calendar
    -# %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&src=eW9zaGltYXNhaG9zb2kxMTI1QGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=YmdpOTFmOWUzazNtc3UyZWU5ZGZvNmdoaGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%230BBCB2&color=%2333B694&color=%23979797&color=%23007D39&showTitle=0&showDate=0&showPrint=0&showTz=0&showTabs=0&showNav=1", :style => "border-width:0", :width => "100%"}
    = render 'calendar'
= render 'footer'
  